*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(238, 238, 238);
}
#logo{
    margin-left: 629px;
    margin-top: 64px;
    width: auto;
}
#box{
    
    height: 1100px;
    width: 650px;
    margin-left: 350px;
    margin-top: 25px;
    background-color: white;
}
#box-2{
    width: 640px;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-top: 10px;
}
p{
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin-left: 150px;
    color: gray;
}
#p1{
    margin-left:110px;
    color: black;
    font-stretch: wider;
    
}
hr{
    width: 93%;
    margin-left: 20px;
    margin-top: -11px; 
}
h4{
   font-size: 30px;
   color: rgb(202, 201, 201);
   background-color: transparent;
   margin-left: 170px;
}
#form{
    margin-top: 30px;
    background-color: transparent;
}
#form input{
   width: 360px;
   height: 47px;
   margin-left: 150px;
   margin-top: 15px;
   background-color: transparent;
   border: 1px solid gray;
  
}
.p{
    margin-top: 15px;
    color: rgb(104, 104, 104);
    width: 300px; 
}
#btn{
    margin-top: 20px;
    margin-left: 150px;
    width: 362px;
    height: 45px;
    background-color: #2d2d2d;;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border: 0px;

}
#btn:hover{
    background-color: rgb(110, 110, 110);
    cursor: pointer;
}
#forp{
    margin-top: 25px;
    margin-left: 270px;
    color: rgb(61, 61, 61);
    
}
#h3{
    margin-top: 50px;
    margin-left:260px ;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
#link1{
    display: flex;
    justify-content: space-between;
    margin-left:40px;
    margin-top: 60px;
    background-color: transparent;
    width: 550px;
}
#link1 div{
    width: 190px;
    height: 50px;
    border: 2px solid rgb(224, 224, 224);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: transparent;
    margin-left: 7px;
    
}
img{
    /* width: 15px; */
    background-color: transparent;
    margin-left: 15px;
}
h6{
    font-size: 16px;
    /* padding-right: 20px; */
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(77, 77, 77);
    background-color: transparent;

}
#link1 :hover{
    color: rgb(138, 138, 138); 
    cursor: pointer;  
}
#link2{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
    margin-top: 60px;
    background-color: transparent;
    width: 400px;
    margin-top: 10px;
}
#link2 div{
    width: 190px;
    height: 50px;
    border: 2px solid rgb(224, 224, 224);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: transparent;
    
}
img{
    width: 30px;
    background-color: transparent;
    margin-left: 20px;
}
h6{
    font-size: 16px;
    /* padding-right: 20px; */
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(77, 77, 77);
    background-color: transparent;

}
#link2 :hover{
    color: rgb(138, 138, 138); 
    cursor: pointer;
  
}
#bottom-p{
    margin-top: 50px;
    margin-left: 600px;
    font-size: 12px;
    padding-bottom: 15px;
    text-decoration: underline;
}
#top-p{
    margin-left: 50px;
    margin-top: 25px;
    font-weight: 400;
    width:550px ;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-size: 15px;
    color: #222222;
    line-height: 1.5;
    max-width: 100%;
    align-items: center;
   
}
#dob{
    background-color: transparent;
    margin-top: 15px;
}
#date{
    width: 75px;
    height: 40px;
    background-color: transparent;
    margin-left: 150px;
    padding-left: 8px;
}
#month{
    width: 180px;
    height: 40px;
    background-color: transparent;
    margin-left: 10px;
    padding-left: 8px;
}
#yyyy{
    width: 79px;
    height: 40px;
    background-color: transparent;
    margin-left: 10px;
    padding-left: 8px;
}
#check{
    margin-left: 0px;
    width: 362px;
    background-color: transparent;
    display: flex;
   
}
#check-1{
    display: flex;
    margin-left: 0px;
    background-color: transparent;
  
}

#check-2{
    display: flex;
    margin-left: 0px;
    background-color: transparent;
}
#check-1 input{
    height: 20px;
    margin-left: -20px; 
}
#check-2 input{
    height: 20px;
    margin-left: -125px; 
    color: #222222;
    
}
#check-1 p{
    margin-left: -150px;
    margin-top: 12px;
    font-weight: 400;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-size: 15px;
    color: #222222;
    line-height: 1.5;
    max-width: 100%;
}

#check-2 p{
    margin-left: -150px;
    margin-top: 12px;
    font-weight: 400;
    font-family: futura-pt,Tahoma,Geneva,Verdana,Arial,sans-serif;
    font-size: 15px;
    color: #222222;
    line-height: 1.5;
    max-width: 100%;
}


   
