
#navbar1{
    height: 30px;
    width:100%;
    border:1px solid rgb(215, 215, 215);
    background-color:white;
    display:flex;
    display:flex;
    justify-content: end;
    
  }
  #marketplace{
      height:30px;
      width:100px;
      border:1px solid rgb(215, 215, 215);
      color:grey;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
  }
  #help{
      height:30px;
      width:120px;
      border:1px solid rgb(215, 215, 215);
      color:grey;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
  }
  #im{ 
      height:70%; 
      margin-left:13px;
      margin-top: 4px;
  }
  #imga{
      height:30px;
      width:50px;
      border:1px solid rgb(215, 215, 215);
      
      margin-right: 100px;
  }
  #navbar2{
      height:65px;
      width:100%;
      display: flex;
    
  }
  #navbar21{
      height:65px;
      width:400px;
      background-color: black;
      display: flex;
  }
  #navbar22{
  height: 65px;
  width:73.7%;
  background-color:black;
  margin-left: 1px;
  display: flex;
  }
  #aso{
     height:65px;
     width:100px;
     margin-left: 80px;
  }
  #logoim{
      width:100%;
      height:65px;
  }
  #women{
      height: 65px;
      width:110px;
      cursor: pointer;
      background-color: #525050;   
  }
  
  #men{
      height: 65px;
      width:110px;
     cursor: pointer;
  }
  #men:hover{
      background-color: #525050;
  }
  #colorw{
      color:white;
      padding-top: 3px;
      display: flex;
      justify-content: center;
      padding-top: 25px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 16px;
  
  }
  a{
      text-decoration: none;
  }
  #colorm{
      color:white;
      padding-top: 3px;
      display: flex;
      justify-content: center;
      padding-top: 25px;
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 16px;
      
  }
  #search{
      width:73%;
      height:40px;
      background-color: white;
      border-radius: 50px;
      display:flex;
      justify-content:space-between;
      align-items: center;
      margin-top:13px;
      margin-left: 20px;
  }
  #searchbar{
  padding-left: 15px;
  font-stretch: expanded;
  font-size: 16px;
  }
  #searchlogo{
      padding-right: 15px;
  }
  
  #loginlogo{
      height:65px;
      width:50px;
     margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fa-user{
  color:white;
  
  }
  #heart{
      height:65px;
      width:50px;
     margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fa-heart{
      color:white;
  }
  #bag{
      height:65px;
      width:50px;
     
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .fa-bag-shopping{
      color: white;
      
  }
  #navbar3{
      /* height:60px;
      width:100%;
      background-color: #525050;
      display:grid;
      grid-template-columns: repeat(14,1fr);
      grid-template-rows: repeat(1,40px);
      
      gap:20px;
      padding-left: 110px;
      display:flex;
      justify-content: left;
      align-items: center;
      cursor: pointer; */
      background-color: #525050;
      display:flex;
      justify-content: space-between;
    align-items: center;
  }
  #nav3child{
    display: flex;
    height:100%;
    width:90%;
    background-color: #525050;
    margin-left: 5%;
    justify-content: space-between;
    align-items: center;
  }
  .sale{
      height:60px;
      width:50px;
      box-decoration-break: inherit;
      background-color: red;
  
  color:white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
  .des{
      height:60px;
      width:auto;
      color:white;
      font-size: 16px;
      display: flex;
  justify-content: center;
  align-items: center;
  }
  .sale:hover{
      background-color: white;
      color:black;
  }
  .des:hover{
      background-color: white;
      color:black;
  }
  #media{
    height:60px;
    width:50%;
    margin:auto;
    margin-top: 5%;
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(1,60px);
    gap:20px;
    cursor: pointer;
}
#media>div>img{
    width:50%;
}
#foot{
    height:250px;
    width:100%;
    margin:auto;
    margin-top:5%;
    background-color: rgb(236, 236, 253);
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,250px);
    gap:20px;
    cursor: pointer;
}
#foot>div{
  
    padding-left:50px;
    padding-top: 50px;
}
#footer{
    height:50px;
    width:100%;
    background-color: #C6FFDD;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,50px);
    gap:20px;
}
#footleft{
    height:fit-content;
    font-size: 12px;
    display:flex;
    padding-left: 100px;
    margin-top:12px;
}
#footright{
    height:fit-content;
    font-size: 12px;
    display:flex;
    justify-content: end;
    padding-right:100px;
    margin-top:12px;
    gap:10px;
    
}